p {
    color: cadetblue;
    font-family: Jaro;
    font-weight: bold;
}

* {
    text-align: center;
}

a {
    color: cadetblue;
    font-family: Jaro;
    font-weight: bold;
}

.headings {
    color: cadetblue;
}

.headings {
    font-family: Jaro;
}
